@import"vars";
@mixin fontstyle($color, $font-weight) {
    text-align: center;
    color: $color;
    font-family: 'Open Sans', sans-serif;
    font-weight: $font-weight;
    font-size: 1rem;
    line-height: 1.5;
}

.complemento__footer{
    background-color:white;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contenedor__footer{
    flex-basis: 50%;
    padding: 30px;
    @include fontstyle($color-secundario,normal);
                &--img{
                    height: 150px;
                    filter: opacity(18%);
                }
                &__titulo{
                    color: black;
                    font-size: 24px;
                    font-weight: bold;
                    line-height: 1;
                    text-transform: uppercase;
                    margin-bottom: 30px;
                    margin-top: 15px;
                }
                &__text{
                    @include fontstyle(#333333,normal);
                }
}
.sub__text{
    text-align: center;
    @include fontstyle($color-principal,500);

}
.footer__image--redes{
    width: 40px;
    margin: 0 15px 0 15px;
}
.navegador__footer{
    list-style: none;
    margin: 0px;
    padding: 0px;
   
}
footer a{
    display: block;
    @include fontstyle($color-secundario,300);
    display: inline-block;
    justify-content: center;
    text-decoration: none;
    &:hover{
        color: $color-secundario !important;
}
}
