@import"vars";
@mixin fontstyle($color, $font-weight) {
    text-align: center;
    color: $color;
    font-family: 'Bodoni Moda', serif;
    font-weight: $font-weight;
    font-size: 1.3rem;
    line-height: 2;
}

.complemento__footer{
    background-color:white;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
}

.contenedor__footer{
    flex-basis: 50%;
    @include fontstyle($color-secundario,500);
}
.sub__text{
    text-align: center;
    @include fontstyle($color-secundario,500);

}
.footer__image--redes{
    width: 80px;
}
.navegador__footer{
    list-style: none;
    margin: 0px;
    padding: 0px;
   
}
footer a{
    display: block;
    @include fontstyle($color-secundario,300);
    display: inline-block;
    justify-content: center;
    text-decoration: none;
    &:hover{
        color: $color-secundario !important;
}
}
.trip{
    width: 100%;
}