@import"vars";

main a{
    display: block;
    color:white;
    padding: 30px 60px;
    text-decoration: none;
    font-family: 'Bodoni Moda', serif;
    font-weight: 700;
    font-size: 1.3rem;
    transition: all .5s ease;
    
    &:hover{
        background-color: $color-terciario; 
        height: 110%;
    }
}

section a{
    display: block;
    color:white !important;
    padding: 30px 60px;
    text-decoration: none;
    font-family: 'Bodoni Moda', serif;
    font-weight: 700;
    font-size: 1.3rem;
    text-align: center;
   
    &:hover{
        background-color: $color-terciario;
    }
    &.sub__text:hover{
        background-color: $color-secundario;
    }

}



.hero__contenedor{
    background-image: url(../../img/imagen-apaisada.jpg);
    height: 120vh;
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
    background-position-x: left;
    background-position-y: bottom;
    filter: grayscale(80%);
} 
           

.nav__menu--hero{
    display: inline;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    margin-bottom: 0px;
    &--item{
        background-color: $color-principal;

    }
}