@mixin fontstyle {
    font-weight: normal; 
    font-family: 'Open Sans', sans-serif;
    color:white;
    text-align: justify;
    font-size: .1.3rem;
    line-height: 1.5;
    
}

.section__conocenos{
    display: flex;
    background-color: #4E6557;
    @include fontstyle();
    background-image: url(/img/portadaconocenos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(80%);
}

.contenedor__conocenos{
    display: flex;
    flex-direction: row-reverse;

    &--texto{
        flex-basis: 50%;
        padding: 150px 50px 150px 50px;
        @include fontstyle();
        background-color: black;
        width: 100%;


    }
}

.complemento__contenedor--conocenos{
    display: flex;
    gap: 3rem;
    background-color: #333;
    padding: 3rem;

    &--texto{
        flex-basis: 50%;
        background-color: #333;
        @include fontstyle();
    }
    &--titulo{
        text-align: center;
        padding-top: 3rem;
        padding-bottom: 1rem;
    }

}
