.menu-contenedor{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: $color-secundario;
    gap: 30px;
    padding: 30px;
    &__tarjeta{
        border: solid ;
        border-width: 10px;
        border-radius: 2px;
        background-color: whitesmoke;
        opacity: 0.9;
        font-family: 'Open Sans', sans-serif;

    }
    &__tarjeta--img{
        width: 100%;
        height: 100%;
        filter: saturate(80%);
        font-family: 'Open Sans', sans-serif;
    }
}
.card-body{
    background-color: whitesmoke;
    opacity: 0.9;
    height: 150px;
    font-family: 'Open Sans', sans-serif;

}


